
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0%;
    text-align: center;
    background-image: url("/image/fff.jpg");
    background-size: cover;
}
#cabecalho{
    background-image: linear-gradient(to left,rgba(255,133,11,0.938) 30%, rgb(142,64,28));
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2em 0;
}
#Menu{
    background-color: rgb(154, 69, 20);
    padding: 10px;
    margin: 3px;
    text-align: center;
    border: solid 2px;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around ;
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    
}
nav a:hover{
    color: rgb(0, 0, 0);
    
}

/* Seções */
section {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
p{
    text-align:center;
    display: flex;
    flex-basis:10px;
}
.background{
    display: flex;
    flex-direction: row;

}
#div-img{
    width: 600px;
    background-image: url("/image/chu.jpg");
    background-size: cover
}
#div-text{
    width: 2000px;
}
/* 🔹 BACKGROUNDS */
.bg-example {
    width: 400px;
    height: 400px;
    display:flex;
    margin: 10px;
  
    justify-content: center;
    flex-direction: column;

}
#img-2{
    width: 600px;
    background-image: url("/image/kye.jpg");
    background-size: cover;

}
#text-2{
    width: 2000px;

}
#img-3{
    width: 600px;
    background-image: url("/image/jai.jpg");
    background-size: cover;

}
#text-3{
    width: 2000px;

}
#img-4{
    width: 600px;
    background-image: url("/image/rei.jpg");
    background-size: cover;
}
#text-4{
    width: 2000px;
}

/* Background Color */
#bg-color {
   background-color: rgb(154, 69, 20);
}

/* Background Image */

#bg-image {
    background-image: url("/img/img.png");
    background-size:cover;
}

/* Background Repeat */
#bg-repeat {
    background-image: url('/img/img.png');
    background-size: 80px 80px;
    background-repeat: repeat;
}

/* Background Position */
#bg-position {
    background-image: url('/img/img.png');
    background-repeat:unset;
    background-size: 50px;
    background-position:360px 330px;
}    

/* Background Atachment*/
#bg-attachment{
    background-image: url('/img/image.png');
    background-attachment:local;
}

/* 🔹 FONTES */
.font-family {
    font-family: 'Courier New', Courier, monospace;
}

.font-weight {
    font-weight: bold;
}

.font-style {
    font-style: italic;
}

.font-size {
    font-size: 24px;
}

/* 🔹 ESTILOS DE TEXTO */
.text-color {
    color: red;
}

.text-align {
    text-align: center;
}

.text-decoration {
    text-decoration: underline line-through;
}

.text-transform {
    text-transform: uppercase;
}
